<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mashtags - Manage your followed hashtags in Mastodonn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css">
    <script src="/tags.js"></script>
</head>

<body>
    <header>
        <h1>Mashtags</h1>
        <p>Manage your followed hashtags in Mastodon</p>
    </header>
    <main>
        <section>
            <p>These are all the hashtags you currently follow, with their total usage this week.</p>
            <p>Hover over a tag and click the red cross to "unfollow" it.</p>
            <div class="list-container">
                <% for (let i = 0; i < tags.length; i++) { %>
                    <div class="list-item" id="list-item-<%= tags[i].name %>">
                        <span>
                            <a href="<%= tags[i].url %>" target="_blank"><%= tags[i].name %></a>
                            &nbsp;&nbsp;
                            <span class="weeklyUsage"><%= tags[i].weeklyUsage %></span>
                        </span>
                        <button class="trashcan" onclick="deleteTag('<%= tags[i].name %>')">❌</button>
                    </div>
                <% } %>
            </div>
        </section>
    </main>

    <footer>
        <div class="mastodon">
            <a href="https://mastodon.online/@keefmarshall" rel="me" target="_blank">
                <img src="/mastodon-logo.svg" alt="@keefmarshall@mastodon.online">
            </a>
        </div>
    </footer>
</body>


</html>